*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn {
  transition: all .2s; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none; }
  .btn--blue {
    background-color: #2A77C6;
    color: white;
    padding: 1.2rem 3.5rem;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: none;
    margin-left: 3rem;
    border: 1px solid transparent; }
  .btn:active, .btn:hover {
    background-color: white;
    color: #2A77C6;
    border: 1px solid #2A77C6; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__group {
  text-align: left;
  display: inline; }

.form__input {
  background-color: #74ADE9;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #2A77C6; }

.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 3rem;
  transition: all .3s;
  color: #000; }

.load {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  .load__spinner {
    width: 10rem;
    height: 12rem;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2px; }
    .load__spinner-img {
      height: 12rem;
      width: 10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 30vh;
  background-image: linear-gradient(to right bottom, rgba(11, 101, 195, 0.8), rgba(42, 119, 198, 0.8));
  background-size: cover;
  background-position: top;
  position: relative;
  text-align: center; }
  .header__title {
    color: #fff;
    font-size: 6rem;
    font-weight: 300;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-grid {
  font-size: 1.6rem;
  padding: 3rem;
  font-family: inherit;
  overflow-x: hidden; }

.section-form {
  text-align: center;
  padding: 6rem; }
